In [1]:
import sqlite3

In [20]:
conn = sqlite3.connect('transactions.db')

In [21]:
cursor = conn.cursor()

In [61]:
cursor.execute('''
SELECT * FROM transactions
ORDER BY timestamp DESC
LIMIT 20;
''')

In [62]:
results = cursor.fetchall()
for row in results:
    print(row)

(1667, '2024-12-01 00:00:00', 'Bills', 316.0, 'Roland', 1, 'Car Insurance')
(1719, '2024-11-30 00:00:00', 'Shopping', 80.75, 'Sarah', 0, 'VeraBradleyIncECOM')
(1720, '2024-11-28 00:00:00', 'Shopping', 11.99, 'Sarah', 0, 'Kindle Unltd*Z332Y8562')
(1721, '2024-11-28 00:00:00', 'Fun', 10.99, 'Sarah', 1, 'WWW.F1.COM')
(1668, '2024-11-27 00:00:00', 'Bills', 3.18, 'Roland', 0, 'DISCORD* GOLDMEMBERSHI444 DE HARO STREET #200 SAN FRANCISCO94107 CA USA')
(1679, '2024-11-27 00:00:00', 'Transportation', 22.06, 'Roland', 0, 'SUNOCO 0989179700')
(1680, '2024-11-27 00:00:00', 'Transportation', 2.89, 'Roland', 0, 'SUNOCO 0989179700')
(1681, '2024-11-27 00:00:00', 'Groceries', 64.13, 'Roland', 1, 'WAL-MART #2844')
(1739, '2024-11-27 00:00:00', 'Groceries', 12.99, 'Sarah', 1, 'TRADER JOE S #574')
(1740, '2024-11-27 00:00:00', 'Food', 17.08, 'Sarah', 1, 'DUNKIN #336505 Q35')
(1743, '2024-11-27 00:00:00', 'Fun', 20.0, 'Sarah', 1, 'AMAZINGCO INC')
(1744, '2024-11-27 00:00:00', 'Food', 23.0, 'Sarah', 1, 'PANERA BREAD #203557 O')
(1682, '2024-11-26 00:00:00', 'Transportation', 12.67, 'Roland', 0, 'SHELL OIL 57543496608')
(1741, '2024-11-26 00:00:00', 'Food', 6.0, 'Sarah', 0, "DUNKIN' MOBILE AP")
(1742, '2024-11-26 00:00:00', 'Cat', 28.15, 'Sarah', 1, 'PETSMART # 1355')
(1748, '2024-11-26 00:00:00', 'Cat', 7.75, 'Sarah', 1, 'ROVER.COM* PET SVCS.')
(1683, '2024-11-25 00:00:00', 'Shopping', 217.22, 'Roland', 1, 'SCHIIT AUDIO')
(1684, '2024-11-25 00:00:00', 'Bills', 4.0, 'Roland', 0, 'NYTIMES DISC*')
(1745, '2024-11-25 00:00:00', 'Cat', 27.75, 'Sarah', 1, 'ROVER.COM* PET SVCS.')
(1746, '2024-11-25 00:00:00', 'Shopping', 16.95, 'Sarah', 0, 'SP ALL THINGS LILLY')

In [24]:
timestamp = '2024/12/15'
category = 'Bills'
amount = '316'
roommate = 'Roland'
shared = 1
Notes = 'Car Insurance'

In [26]:
cursor.execute('''
INSERT INTO transactions (Timestamp, Category, Amount, Roommate, Shared, Notes)
VALUES (?, ?, ?, ?, ?, ?)
''', (timestamp, category, amount, roommate, shared, Notes))

# Commit the transaction
conn.commit()

In [60]:
# Define the id of the row to be deleted
row_id = 1825

# Execute the delete query
cursor.execute('''
DELETE FROM transactions
WHERE id > ?
''', (row_id,))

# Commit the transaction
conn.commit()

In [19]:
conn.close()

In [29]:
cursor.execute('PRAGMA table_info(transactions)')
columns_info = cursor.fetchall()
column_names = [info[1] for info in columns_info]
print(column_names)

['id', 'timestamp', 'category', 'amount', 'roommate', 'shared', 'notes']